<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFEDEE8D20E4C4A900D2714A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFEDEEA520E4C4AB00D2714A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFEDEEB020E4C4AB00D2714A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
